* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
}

/* header css start */

header {
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

header nav i {
    color: #fff;
    font-size: 24px;
}

.header_body h1 {
    font-size: 52px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
    margin-top: 210px;
}

.header_body form input {
    width: 326px;
    height: 40px;
    background-color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans";
    padding-left: 15px;
    border: none;
    outline: none;
}

.header_body form button {
    width: 122px;
    height: 40px;
    background-color: #fd4f32;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    border: none;
    outline: none;
}


.header_body form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 200px;
}

/* destination css start */

#destination {
    background-color: #eeeeee;
}

#destination h2 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: left;
    padding-top: 60px;
    margin-bottom: 15px;
}


#destination p {
    font-size: 15px;
    letter-spacing: 0px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: left;
    margin-bottom: 40px;
}

.section_body h3 {
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: "Montserrat"
}

.section_body p {
    width: 204px;
    font-size: 13px;
    line-height: 19px;
    color: #696969;
    font-weight: 400;
    font-family: "Open Sans";
    margin-bottom: 0px !important;
}

.section_body .text_body {
    background-color: #fff;
    padding: 20px 0px 20px 20px;
    width: 230px;
}

.section_body {
    display: flex;
    justify-content: space-between;

}

.section_body img {
    width: 230px;
}

.section_body div {
    /* margin: 0px 8px; */
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

/* visa css start */

#visa_head {}

#visa_head h1 {
    margin-top: 79px;
    font-size: 52px;
    letter-spacing: 2px;
    color: #323232;
    font-weight: 300;
    font-family: "Open Sans";
}

.visa_body h2 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
}

.visa_body p {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #8b8b8b;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: left;
}

.visa_body {
    display: flex;
    justify-content: space-between;

}

.visa_body div {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    text-align: left;
}

.visa_body1 h3 {
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
    font-family: "Montserrat";
    margin: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.visa_body1 form input {
    width: 326px;
    height: 40px;
    background-color: #eeeeee;
    font-size: 16px;
    letter-spacing: 1px;
    color: #8b8b8b;
    font-family: "Open Sans";
    border: none;
    outline: none;
}

.visa_body1 form button {
    width: 148px;
    height: 39px;
    background-color: #fd4f32;
    font-size: 16px;
    color: #eeeeee;
    font-weight: 700;
    font-family: "Open Sans";
    border: none;
    outline: none;
}


.visa_body1 form {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

/* visa cc end */

/* footer css start */
footer {
    background-color: #eeeeee;
    padding: 30px 0;
}

.footer_body {
    display: flex;
    justify-content: space-between;
}

.footer_body nav ul {
    display: flex;
}

.footer_body nav ul li {
    margin: 0 15px;
}

footer p {
    font: 400 14px var(--openTit);
    line-height: 22px;
    color: #8b8b8b;
}

.footer_body nav ul li a {
    font: 400 14px var(--montTit);
    text-transform: uppercase;
    color: #323232;
    text-align: center;
    text-decoration: none;
}
